<%= simple_form_for @vending_machine, html: { id: 'editVendingMachine', data: { remote: true, type: "script" } } do |f| %>
  <%= f.simple_fields_for :items, @item do |item| %>
    <%= item.hidden_field :id %>
    <%= item.hidden_field :quantity,  value: item.object.quantity - 1 %>
  <% end %>

  <%= f.input :money_inserted do %>
    <%= text_field_tag 'money_inserted' %>
    <% if @context && @context.errors %>
      <div style="color: red"> <%= @context.errors[:money_inserted].first %> </div>
    <% end %>
  <% end %>
<% end %>
